**/LICENSE
**/README.md
model-comparison.png
screenshot.png
**/.gitignore
**/.git
.git/**/*
**/Dockerfile
**/.dockerignore
**/compose.yml
**/compose.yaml
**/__pycache__/
**/.DS_Store
**/*.env
.streamlit/secrets.toml
.github/**/*
.github/
temp/**/*
temp/
.do/**/*
.do/
**/render.yaml
.devcontainer/**/*
.devcontainer/
.vscode/**/*
.vscode/
.zed/**/*
.zed/
src/.streamlit/secrets.toml
.venv/**/*
.venv/
