streamlit==1.40.2
google-generativeai==0.8.3
requests[socks]==2.32.3
replicate==1.0.4
yt-dlp[default]==2024.10.22
beautifulsoup4==4.12.3
elevenlabs==1.13.2
openai==1.56.0
pydub==0.25.1
semantic-text-splitter==0.19.0
