streamlit==1.39.0
google-generativeai==0.8.3
requests[socks]==2.32.3
replicate==1.0.3
yt-dlp==2024.10.7
beautifulsoup4==4.12.3
elevenlabs==1.12.1
openai==1.55.0
pydub==0.25.1
semantic-text-splitter==0.18.1
